.wrapper{
  position: relative;
}
#viewArea{
}
.toolBox{
  width: 400px;
  height: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}
#searchbox{
  background-color: rgba(100, 100, 100, 0.5);
  border: None;
}
#searchbutton{
  background-color: rgba(50, 50, 50, 0.8);
  color: rgba(200, 200, 200, 0.8);
}
#restorebutton{
  background-color: rgba(100, 50, 50, 0.8);
  color: rgba(200, 200, 200, 0.8);
}
#switchdetailbutton{
  background-color: rgba(50, 50, 100, 0.8);
  color: rgba(200, 200, 200, 0.8);
}
#addlinedetailbutton{
  background-color: rgba(50, 100, 50, 0.8);
  color: rgba(200, 200, 200, 0.8);
}
#deletedetailbutton{
  background-color: rgba(30, 30, 30, 0.8);
  color: rgba(200, 200, 200, 0.8);
  float: right;
}
#detailBox{
  width: 350px;
  height: auto;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: None;
  background-color: rgba(100, 100, 100, 0.5);
  color: rgba(30, 30, 30, 0.5);
}
.list-group-item{
  background-color: rgba(50, 50, 50, 0.8);
  color: rgba(200, 200, 200, 0.8);
  border-color: rgba(40, 40, 40, 0.5);
}
