{% extends "base.html" %}


{% block extracss %}
<style>
.wrapper{
  position: relative;
}
#viewArea{
}
.toolBox{
  width: 350px;
  height: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}
#searchbox{
  background-color: rgba(100, 100, 100, 0.5);
  border: None;
}
#searchbutton{
  background-color: rgba(50, 50, 50, 0.8);
  color: rgba(200, 200, 200, 0.8);
}
#restorebutton{
  background-color: rgba(100, 50, 50, 0.8);
  color: rgba(200, 200, 200, 0.8);
}
</style>
{% endblock %}


{% block main %}
<div class="wrapper">
  <div id="viewArea"></div>
  <div class="toolBox">
    <form class="well form-search" id="searchbox">
      <input type="text" class="input-medium search-query" name="query" value="" placeholder="Let's explore!">
      <button class="btn" id="searchbutton" name="button" value="click" onClick="search(this.form);return false;">
  	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
      <button class="btn" id="restorebutton" name="button" value="click" onClick="restore();return false;">
  	<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
      </button>
    </form>
  </div>
</div>
{% endblock %}


{% block extrascript %}
<script src="/static/three.min.js"></script>
<script src="/static/OrbitControls.js"></script>
<script src="/static/Detector.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script>

//--------------- WEBGL ---------------

if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

var colorList = {};
colorList["Cerebellar Cortex"] = function(){
  return 0xFF69B4;
};
colorList["Cerebellar Nuclei"] = function(){
  return 0xFF69B4;
};
colorList["Cortical Subplate"] = function(){
  return 0xA9A9A9;
};
colorList["Hippocampal Formation"] = function(){
  return 0x000033;
};
colorList["Hypothalamus"] = function(){
  return 0xFFA500;
};
colorList["Isocortex"] = function(){
  return 0x330000;
};
colorList["Medulla"] = function(){
  return 0xA9A9A9;
};
colorList["Midbrain"] = function(){
  return 0x000080;
};
colorList["Olfactory Areas"] = function(){
  return 0x800000;
};
colorList["Pallidum"] = function(){
  return 0xA9A9A9;
};
colorList["Pons"] = function(){
  return 0xA9A9A9;
};
colorList["Striatum"] = function(){
  return 0xFFD700;
};
colorList["Thalamus"] = function(){
  return 0xA9A9A9;
};

THREE.Cache.enabled = true;
var container, controls, color;
var camera, cameraTarget, scene, renderer;
var group, textMesh, textGeo, material;
var scale = 2.5;

var sphereMaterials = {};
var lineMaterials = {};
var textMeshes = {};

var firstLetter = true;

var text,
height = 1,
size = 30,
hover = 20,
curveSegments = 4,
bevelThickness = 2,
bevelSize = 1.5,
bevelSegments = 3,
bevelEnabled = true,
font = undefined;

var windowHalfX = window.innerWidth / 2;
var windowHalfY = window.innerHeight / 2;

init();
animate();
startAttenuation();

function init() {
  // CAMERA
  camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 10000 );
  camera.position.set( 4000, 400, 1500 );
  cameraTarget = new THREE.Vector3( 0, 0, 0 );
  camera.lookAt( cameraTarget );

  // SCENE
  scene = new THREE.Scene();
  scene.fog = new THREE.Fog( 0x222222, 150, 12000 );

  // LIGHTS
  var ambient = new THREE.AmbientLight(0xffffff);
  scene.add(ambient);

  group = new THREE.Group();
  group.position.x = 7661/scale;
  group.position.y = 4194/scale;
  group.position.z = 6957/scale;

  scene.add( group );

  loadFont();

  // RENDERER
  renderer = new THREE.WebGLRenderer( { antialias: true } );
  renderer.setClearColor( scene.fog.color );
  renderer.setPixelRatio( window.devicePixelRatio );
  renderer.setSize( window.innerWidth, window.innerHeight );
  document.getElementById("viewArea").appendChild( renderer.domElement );

  // ORBITCONTROLS
  controls = new THREE.OrbitControls(camera);
  controls.maxDistance = 10000;
  controls.minDistance = 0;

  window.addEventListener( 'resize', onWindowResize, false );
}

function onWindowResize() {
  windowHalfX = window.innerWidth / 2;
  windowHalfY = window.innerHeight / 2;

  camera.aspect = window.innerWidth / window.innerHeight;
  camera.updateProjectionMatrix();

  renderer.setSize( window.innerWidth, window.innerHeight );
}

function loadFont() {
  var loader = new THREE.FontLoader();
  loader.load( '/static/helvetiker_regular.typeface.js', function ( response ) {
    font = response;
    createText();
  });
}

function createText() {
  <!-- MeshCreate -->
  {% for key,value in cells.iteritems() %}
    //text material
    material = new THREE.MeshBasicMaterial({color: 0xcccccc});
    //sphere material
    //smaterial = new THREE.MeshLambertMaterial({ color: 0x330000 });
    smaterial = new THREE.MeshLambertMaterial({ color: colorList["{{ value['region'] }}"]() });


    //sphere geometry
    radius = (Math.sqrt("{{ value['voxel'] }}" / Math.PI)) * 2.3;
    sphereGeo = new THREE.SphereGeometry(radius);

    //text geometry
    textGeo = new THREE.TextGeometry( "{{ key }}", {
      font: font,
      size: size,
      height: height,
      curveSegments: curveSegments,
      bevelThickness: bevelThickness,
      bevelSize: bevelSize,
      bevelEnabled: bevelEnabled,
      material: 0,
      extrudeMaterial: 1
    });

    textGeo.computeBoundingBox();
    textGeo.computeVertexNormals();

    var centerOffset = -0.5 * ( textGeo.boundingBox.max.x - textGeo.boundingBox.min.x );

    sphereMesh = new THREE.Mesh( sphereGeo, smaterial );
    sphereMesh.position.x = -({{ value['x'] }}/scale);
    sphereMesh.position.y = hover - ({{ value['y'] }}/scale);
    sphereMesh.position.z = 0 - ({{ value['z'] }}/scale);

    textMesh = new THREE.Mesh( textGeo, material );

    textMesh.position.x = centerOffset - radius/2 - ({{ value['x'] }}/scale);
    textMesh.position.y = hover + radius - ({{ value['y'] }}/scale);
    textMesh.position.z = 0 - ({{ value['z'] }}/scale);

    textMesh.rotation.x = 0;
    textMesh.rotation.y = Math.PI * 2;

    sphereMaterials["{{ key }}"] = smaterial;
    textMeshes["{{ key }}"] = textMesh;

    group.add( sphereMesh );
    group.add( textMesh );

  {% endfor %}

  {% for link in links %}
    //line material
    lmaterial = new THREE.LineBasicMaterial({ color: 0x003300, opacity: 0.15, transparent: true, linewidth: {{ link["weight"] }}*10 });

    //line geometry
    lineGeo = new THREE.Geometry();
    
    lineGeo.vertices.push(new THREE.Vector3(-{{ link["root"]["x"] }}/scale - scale*3, -{{ link["root"]["y"] }}/scale, -{{ link["root"]["z"] }}/scale ));
    lineGeo.vertices.push(new THREE.Vector3(-{{ link["dest"]["x"] }}/scale, -{{ link["dest"]["y"] }}/scale, -{{ link["dest"]["z"] }}/scale ));

    line = new THREE.Line(lineGeo, lmaterial);

    if (!("{{ link['root']['name'] }}" in lineMaterials)){
      lineMaterials["{{ link['root']['name'] }}"] = [];
    }

    lineMaterials["{{ link['root']['name'] }}"].push(lmaterial);
    
    group.add( line );

  {% endfor %}
}

function animate() {
  requestAnimationFrame( animate );
  render();
  controls.update();
}

function render() {
  for (var key in textMeshes){
    textMeshes[key].rotation.setFromRotationMatrix( camera.matrix );
  }
  renderer.clear();
  renderer.render( scene, camera );
}

//--------------- SEARCH ---------------
$(".toolBox").hover(
  function(){
    controls.enabled = false;
  },
  function(){
    controls.enabled = true;
  }
);

function restore(){
  for (var key in sphereMaterials){
    sphereMaterials[key].opacity = 1.0;
    sphereMaterials[key].transparent = false;
    textMeshes[key].material.opacity = 1.0;
    textMeshes[key].material.transparent = false;
  }
  {% for link in links %}
    for (var i=0; i<lineMaterials["{{ link['root']['name'] }}"].length; i++){
      lineMaterials["{{ link['root']['name'] }}"][i].opacity = 0.15;
      lineMaterials["{{ link['root']['name'] }}"][i].visible = true;
    }
  {% endfor %}
}

function search(form){
  restore();
  var query = form.query.value;
  for (var key in sphereMaterials){
    if (key.indexOf(query) != 0){
      sphereMaterials[key].opacity = 0.25;
      sphereMaterials[key].transparent = true;
      textMeshes[key].material.opacity = 0.0;
      textMeshes[key].material.transparent = true;
      if (key in lineMaterials){
        for(var i=0; i<lineMaterials[key].length; i++){
          lineMaterials[key][i].visible = false;
        }
      }
    }else{
      if (key in lineMaterials){
        for(var i=0; i<lineMaterials[key].length; i++){
          lineMaterials[key][i].opacity = 1.0;
        }
      }
    }
  }
}

//--------------- ATTENUATION ---------------
function attenuate(){
  attenuation_rate = -0.05;
  for (var key in sphereMaterials){
    if (sphereMaterials[key].color.getHSL()["l"] > 0.12) {
      sphereMaterials[key].color.offsetHSL(0, 0, attenuation_rate);
    }
  }
  for (var key in lineMaterials){
    for (var i=0; i<lineMaterials[key].length; i++) {
      if (lineMaterials[key][i].color.getHSL()["l"] > 0.12) {
        lineMaterials[key][i].color.offsetHSL(0, 0, attenuation_rate);
      }
    }
  }
}

function startAttenuation(){
  interval = 50;
  setInterval("attenuate()", interval);
}

//--------------- WEBSOCKET ---------------
var socket = io.connect('http://' + document.domain + ':' + location.port)
socket.on('activation', function(data){
  for(var i=0; i<data.length; i++){
    name = data[i];
    if (sphereMaterials[name].color.getHSL()["l"] < 0.7) {
      sphereMaterials[name].color.offsetHSL(0, 0, 0.2);
    }
    if (name in lineMaterials){
      for(var j=0; j<lineMaterials[name].length; j++){
        if (lineMaterials[name][j].color.getHSL()["l"] < 0.7) {
          lineMaterials[name][j].color.offsetHSL(0, 0, 0.1);
        }
      }
    }
  }
});

</script> 

{% endblock %}
